body{
    background:#333333 ;
    color: #fff;
}
.navbar{
    border-bottom: 3px solid #1073a5 ;
    background: #2c2e2e;
    opacity: 0.7;
}
#home-section{
    background:url(../img/dftg.jpeg)no-repeat center top ;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#home-section .home-inner{
    padding-top: 150px;
    padding-bottom: 50px;
}
#home-section .dark-overlay{
    background: rgba(0,0, 0,0.7);
    min-height: 700px;
}
#home-section .fa-solid{
    color: #870808;
    background-color: rgba(255, 255, 255, 0.422);
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
   margin-right: 7px;
}
#tt{
    background-color: linear-gradient(to right,#ff105f,#ffad06);
}
.logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  
}
.zz{
    height: 25px;
    width: 25px;
    align-content: center;
}
#product-main-section .fa-solid{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.744);
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
   margin-right: 7px;
}
#review-main-section .fa-solid{
    color: #870808;
    background-color: rgba(154, 240, 104, 0.422);
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
   margin-right: 7px;
}
.pp{
    height: 50px;
    width: 70;
   
    padding-left: 4px;
    margin-bottom: 40px;
}